<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superhero Details</title>
</head>
<body>
<h1>Super Hero:{{single_superheros_app.name}}</h1>
<p>Alter Ego:{{single_superheros_app.alter_ego}}</p>
<p>Primary Superhero Ability:{{single_superheros_app.primary_superhero_ability}}</p>
<p>Secondary Superhero Ability:{{single_superheros_app.secondary_superhero_ability}}</p>
<p>Catchphrase:{{single_superheros_app.catchphrase}}</p>
<a href="{% url 'superheros_app:update' single_superheros_app.id %}">Update info</a><br>
</body>
</html>