<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Superhero Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1>List of Superheros</h1>
                    <ul>
                        {% for superhero in all_superheros_app %}
                        <li><h2> {{superhero.name}} </h2>
                            <a href="{% url 'superheros_app:detail' superhero.id %}">See more info</a><br>
                            <a href="{% url 'superheros_app:update' superhero.id %}">Update info</a><br>
                            <a href="{% url 'superheros_app:kryptonite' superhero.id %}">Delete Superhero</a>
                        </li>
                        {% endfor %}
                        <hr>
                        <a href="{% url 'superheros_app:create_new_superhero' %}">Create a Superhero</a>
                    </ul>
                </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>
