<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Superhero Edit</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/superheros_app"> HOME </a>
        </div>
    </div>
</nav>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-8">

                            <h1>Update Superhero: {{single_superheros_app.name}}</h1>
                            <hr/>
                            <div class="container-fluid">
                                <form action="{% url 'superheros_app:update' single_superheros_app.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                    <label for="name">Name:</label><br>
                                    <input type="text" name="name" class=form-control"
                                           value="{{single_superheros_app.name}}"
                                           id="name">
                                    </div>
                                    <div class="form-group">
                                    <label for="name">Alter Ego:</label><br>
                                    <input type="text" name="alter_ego" class=form-control"
                                           value="{{single_superheros_app.alter_ego}}"
                                           id="alter_ego">
                                    </div>
                                    <div class="form-group">
                                    <label for="name">Primary Superhero ability:</label><br>
                                    <input type="text" name="primary_superhero_ability" class=form-control"
                                           value="{{single_superheros_app.primary_superhero_ability}}"
                                           id="Primary_superhero_ability">
                                    </div>
                                    <div class="form-group">
                                    <label for="name">Secondary Superhero ability:</label><br>
                                    <input type="text" name="secondary_superhero_ability" class=form-control"
                                           value="{{single_superheros_app.secondary_superhero_ability}}"
                                           id="Secondary_superhero_ability">
                                    </div>
                                    <div class="form-group">
                                    <label for="name">catchphrase:</label><br>
                                    <input type="text" name="catchphrase" class=form-control"
                                           value="{{single_superheros_app.catchphrase}}"
                                           id="catchphrase">
                                    </div>
                                    <input type="submit" value="update!">
                                </form>
                            </div>
                    </div>
                <div class="col-md-2"></div>
            </div>
        </div>
</body>
</html>